.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently*/                                 not supported by any browser */
}

.user-button{
	background-color: green;
	width: 100px;
	border-radius: 10px;
	border: 2px solid black;
	padding: 20px;
}

.user-button:hover{
	background-color:yellow;
}

.current_user{
	font-size:2em;
	height:50px;	
}

.correct{
	color: black;
}

.incorrect{
	color: red;
}

.lesson-text{
	font-family:"Anonymous Pro","Lucida Console", Monaco, monospace;
	font-size:2em;
	height:50px;
	background-color:yellow;
}
.typed-text{
	font-family:"Anonymous Pro", Monaco, monospace;
	font-size:2em;
	height:50px;
	background-color:lightblue;
	
}

#user_select{
	background-color: lightblue;
	width: 300px;
	height: 200px;
	border-radius: 25px;
	border: 2px solid black;
	padding: 20px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: 100px;
	margin-left: 100px;
	
}

body{
	margin-left:100px;
	margin-right:100px;
	background-image: url("bg.jpg");
	background-size: 200vw;
}

.screen-keyboard{
	float:left;
	margin:2vw;
	background-color: rgba(255,255,255,0.2);
	padding:1vw;
	border-radius:25px;
	
}

.screen-keyboard-row{
	clear:left;
	
}

.screen-key{
	margin:0.25vw;
	float:left;
	width: 4vw;
	height: 4vw;
	border-radius: 1vw;
	line-height:4.1vw;
	text-align:center;
	
	animation-name: wiggle;
	animation-duration: 0s;
	animation-iteration-count: infinite;
	animation-direction:alternate;
	/*transform: rotate(10deg);*/
	
}

.red{
	background-color: red;
}

.blue{
	background-color: 3333FF;
}

.orange{
	background-color: orange;
}

.magenta{
	background-color: magenta;
}

.yellow{
	background-color: yellow;
}

.green{
	background-color: green;
}

.pink{
	background-color: FF87C7;
}

.cyan{
	background-color:cyan;
}

.brown{
	background-color:C09080;
}

.shift{
	width: 8vw;
	
}
.space{
	width: 24vw;
	margin-left: 17vw;
	animation-name: space-wiggle;
}

#top-row{
	margin-left:4vw;
}

#middle-row{
	margin-left: 6vw;
}

#bottom-row{
	margin-left: 0vw;
}



@keyframes wiggle {
    from {
		transform: rotate(-7deg);
		transform: scale(1.1); 
	}
    to {
		transform: rotate(7deg);
		transform: scale(0.9);
	}
}

@keyframes space-wiggle {
    from {transform: rotate(-3deg);}
    to {transform: rotate(3deg);}
}


.key-decoration{
	position:absolute;
	width:50px;
	padding:10px;
	left:-7px;
	top:0px;
	text-align:center;
	vertical-align:middle;
	font-size:80px;
	color:white;

}

.key-letter{
	font-size:3.5vw;
	text-align:center;
	vertical-align:middle;
	
	font-family:Arial;
}

.debug{
	height:300;
	overflow:scroll;
	
}

.lesson-button{
	width:8vw;
	height:2vw;
	float:left;
	background-color:00FF00;
	margin:.2vw;
	border-radius:.5vw;
	text-align:center;
	vertical-align:middle;
}

.lesson-button:hover{
	background-color:yellow
}

form{
	clear:left;
	margin: 2vw;
}

input[type=number]{
    width: 50px;
} 